@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@inject IViewLocalizer Localizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<HoangNV.HotelBooking.Web.Localization.SharedResource> _sharedLocalizer
@model IEnumerable<HoangNV.HotelBooking.Entities.Entities.Convenients>
@addTagHelper "*, HoangNV.HotelBooking.Web"

@{ ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }
<h1 class="ui header monsin-title hs-title-result" id="listDescription">@Localizer["ConvenientTitle"]</h1>
<div class="ui segment hs-gray fix-margin-segment">
    <div class="ui form hs-form">
        <div class="ui two column stackable grid">
            <div class="fourteen wide large screen thirteen wide computer twelve wide tablet column">
                <div class="ui stackable grid">
                    <div class="row inline fields change-range">
                        <div class="three wide large screen three wide computer four wide tablet field column">
                            <label>
                                @Localizer["ConvenientName"]
                            </label>
                        </div>
                        <div class="thirteen wide large screen thirteen wide computer twelve wide tablet field column">
                            <input id="txtConvenientName" type="text" maxlength="50" autocomplete="off">
                        </div>
                    </div>
                    <div class="row inline fields change-range">
                        <div class="three wide large screen field column">
                            <label>
                                @Localizer["ConvenientTypeName"]
                            </label>
                        </div>
                        <div class="thirteen wide large screen thirteen wide computer twelve wide tablet field column">
                            <select asp-items="ViewBag.convenientTypes" id="convenientTypeName" class="ui search dropdown" name="dropType"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="two wide large screen three wide computer four wide tablet column">
                <div class="ui stackable grid">
                    <div class="row inline fields row-change-range">
                        <div class="column field hs-b004-btn-search btn-change-range">
                            <input type="button" id="btnSearch" class="ui yellow button fluid " value="@Localizer["Search"]" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui divider">
</div>
<div class="ui segment fluid wh-over-flow hs-gray hs-table-result">
    <div class="ui stackable menu hs-action-links hs-gray">
        <a class="a item" id="add-convenient">
            <i class="plus square outline icon" aria-hidden="true"></i>
            @Localizer["AddConvient"]
        </a>
    </div>
    <table class="ui celled selectable striped table wh-data-table" id="tableConvenient" style="width: 100%;" aria-describedby="listDescription">
        <thead>
            <tr>
                <th>@Localizer["ConvenientName"]</th>
                <th>@Localizer["ConvenientTypeName"]</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@*add modal*@
<div class="ui small modal hs-booking" id="setting-modal">
    <div class="ui grid hs-modal">
        <div class="row">
            <h1 class="ui header monsin-title hs-title-result">@Localizer["AddConvient"]</h1>
        </div>
        <div class="sixteen wide column">
            <div id="frmSetting" class="ui form">
                <div class="fields sch-form-inline-fields">
                    <div class="field hs-form-label">
                        <label class="" tabindex="0">
                            @Localizer["ConvenientName"]
                        </label>
                    </div>
                    <div class="thirteen wide field">
                        <input name="id" hidden type="text">
                        <input name="name" id="txtAddConvenient" autofocus required autocomplete="off" maxlength="50" type="text" messageOf="Name">
                        <div class="hs-text-red hs-error hs-error-text" id="txtAddConvenientName-error"></div>
                    </div>
                </div>
                <div class="fields sch-form-inline-fields">
                    <div class="field hs-form-label">
                        <label class="" tabindex="0">
                            @Localizer["ConvenientTypeName"]
                        </label>
                    </div>
                    <div class="thirteen wide field">
                        <select asp-items="ViewBag.convenientTypes" id="convenientTypeNameAdd" class="ui search dropdown" name="dropType"></select>
                    </div>
                </div>
                <div class="fields sch-form-inline-fields">
                    <div class="field hs-form-label">
                    </div>
                    <div class="thirteen wide field">
                        <div class="hs-text-red hs-error hs-error-text" id="txtAddConvenientTypeId-error"></div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="hs-buttons">
                    <a id="btnAdd" class="ui hs-button yellow button">@Localizer["Add"]</a>
                    <a id="btnCancel" class="ui hs-button yellow button">@Localizer["btn_cancel"]</a>
                </div>
            </div>
        </div>
    </div>
</div>

@*update modal*@
<div class="ui small modal hs-booking" id="update-modal">
    <div class="ui grid hs-modal">
        <div class="row">
            <h1 class="ui header monsin-title hs-title-result">@Localizer["Update"]</h1>
        </div>
        <div class="sixteen wide column">
            <div id="frmSetting" class="ui form">
                <div class="fields sch-form-inline-fields">
                    <div class="field hs-form-label">
                        <label class="" tabindex="0">
                            @Localizer["ConvenientName"]
                        </label>
                    </div>
                    <div class="thirteen wide field">
                        <input name="id" hidden type="text">
                        <input name="name" id="txtUpdateConvenient" autofocus required autocomplete="off" maxlength="50" type="text" messageOf="Name">
                        <div class="hs-text-red hs-error hs-error-text" id="txtUpdateConvenientName-error"></div>
                    </div>
                </div>
                <div class="fields sch-form-inline-fields">
                    <div class="field hs-form-label">
                        <label class="" tabindex="0">
                            @Localizer["ConvenientTypeName"]
                        </label>
                    </div>
                    <div class="thirteen wide field">
                        <select asp-items="ViewBag.convenientTypes" id="convenientTypeNameUpdate" class="ui search dropdown" name="dropType"></select>
                    </div>
                </div>
                <div class="fields sch-form-inline-fields">
                    <div class="field hs-form-label">
                    </div>
                    <div class="thirteen wide field">
                        <div class="hs-text-red hs-error hs-error-text" id="txtUpdateConvenientTypeId-error"></div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="hs-buttons">
                    <a id="btnUpdate" class="ui hs-button yellow button">@Localizer["Update"]</a>
                    <a id="btnCancel1" class="ui hs-button yellow button">@Localizer["btn_cancel"]</a>
                </div>
            </div>
        </div>
    </div>
</div>

<resources names='new[] { "Localization.SharedResource"}'></resources>
@section Scripts{
    <script>
        ConvenientController.Index.urlAction="@func.GetPrefixUrlByControllerAction(this.Url, "GetList", "Convenients")";
        ConvenientController.Index.Init();
    </script>
}