@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using HoangNV.HotelBooking.BusinessLogic.Enum;
@inject IViewLocalizer Localizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<HoangNV.HotelBooking.Web.Localization.SharedResource> _sharedLocalizer
@model HoangNV.HotelBooking.BusinessLogic.Models.PassWordUpdateViewModel
@addTagHelper "*, HoangNV.HotelBooking.Web"

@{ ViewData["Title"] = "Thêm mới";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<h1 class="ui header monsin-title hs-title-booking">@Localizer["InserUser"]</h1>
<div class="ui segment hs-gray fix-margin-segment">
    <form class="ui form hs-form" enctype="multipart/form-data">
        <div class="ui stackable grid padding-row-inline">
            <input asp-for="UserId" maxlength="50" style="display:none" type="text" autocomplete="off">
            <div class="row inline fields">
                <div class="three wide field column">
                    <label asp-for="OldPassWord">
                        @Localizer[@Html.DisplayNameFor(model => model.OldPassWord)] <span class="hs-text-red">*</span>
                    </label>
                </div>
                <div class="thirteen wide field column">
                    <input asp-for="OldPassWord" maxlength="50" type="password" autocomplete="off">
                </div>
                <div class="three wide field column"></div>
                <div class="thirteen wide field column">
                    <div class="hs-text-red hs-error hs-error-text" id="txt-OldPassWord-error"></div>
                </div>
            </div>
            <div class="row inline fields">
                <div class="three wide field column">
                    <label asp-for="PassWord">
                        @Localizer[@Html.DisplayNameFor(model => model.PassWord)] <span class="hs-text-red">*</span>
                    </label>
                </div>
                <div class="thirteen wide field column">
                    <input asp-for="PassWord" maxlength="50" type="password" autocomplete="off">
                </div>
                <div class="three wide field column"></div>
                <div class="thirteen wide field column">
                    <div class="hs-text-red hs-error hs-error-text" id="txt-PassWord-error"></div>
                </div>
            </div>
            <div class="row inline fields">
                <div class="three wide field column">
                    <label>
                        @Localizer[@Html.DisplayNameFor(model => model.PassWordSecond)] <span class="hs-text-red">*</span>
                    </label>
                </div>
                <div class="thirteen wide field column">
                    <input asp-for="PassWordSecond" maxlength="50" type="password" autocomplete="off">
                </div>
                <div class="three wide field column"></div>
                <div class="thirteen wide field column">
                    <div class="hs-text-red hs-error hs-error-text" id="txt-PassWordSecond-error"></div>
                </div>
            </div>
        </div>


        <div class="ui divider"></div>
        <div class="hs-buttons">
            <input type="button" id="btnSubmit" class="ui pink button hs-button" value="@Localizer["Add"]" />
            <a id="btnCancel" class="ui pink button hs-button">@Localizer["btn_cancel"]</a>
        </div>
    </form>
</div>
<resources names='new[] { "Localization.SharedResource"}'></resources>
@section Scripts{
    <script>
        AccountController.UpdatePassWord.Init();
    </script>
}


